// https://coolors.co/palette/ffffff-6aa0c4-a3ce54-2f4858-ad3522

$light:           #FFFFFF;
$primary:         #2F4858;
$secondary:        #A3CE54;
$main-color1:        $primary;
$main-color2:        #AD3522;
$main-color3:        $light;
$main-color4:        #6AA0C4;
$main-color5:        $secondary;
$enable-rounded: false;

$headings-color: $primary;

$font-size-base:  1.6rem;
@import "~bootstrap/scss/bootstrap";

header{
  background: $primary;
  padding: 2rem 0;
  color: $light;
  a{
    text-decoration: none;
  }
  a, h1{
    color: $light;
  }
  a.logo{
    display: block;
    text-align: center;
    img{
      width: 100px;
      height: auto;
    }
  }
  a.btn{
    margin-top: 0.8rem;
  }
}
header.home{
  padding: 80px 0;
  text-align: center;
  a.logo{
    display: inline-block;
    margin-bottom: 40px;
    img{
      width: 200px;
      height: auto;
    }
  }
  h1{
    text-transform: uppercase;
  }
  h1, h2{
    color: $light;
  }
  h2{
    font-weight: lighter;
  }
}

.organizer{
  margin-bottom: 25px;
}

#summary{
  padding: 80px 0;
  text-align: center;
  a.btn{
    text-decoration: underline;
    color: $main-color2;
  }
}

#internal-page{
  padding: 40px 0;
}

#speaker-detail, #talk-detail, #page-detail{
  padding: 4rem;
  border-bottom: 1px solid $secondary;
  font-size: 1.4rem;
  h1{
    font-size: 3rem;
  }
  h2{
    font-size: 2rem;
    margin-top: 1.5rem;
  }
}
#talk-detail{
  .speaker-in-talk{
    margin: 4rem 0;
  }
}

#speakers{
  padding: 2rem 0 4rem 0;
  a.speaker-card{
    text-decoration: none;
    display: block;
    margin-bottom: 4rem;
    .image{
      background-size: cover;
      background-color: $gray-500;
      height: 300px;
      display: block;
      filter: $gray-300; /* IE6-9 */
      -webkit-filter: grayscale(100%);
    }
    .image:hover{
      -webkit-filter: grayscale(0%);
    }

    .info{
      margin-top: 1rem;
      display: block;
      font-size: 1.2rem;
      h4{
        font-size: 1.6rem;
      }
    }
  }
}

#agenda{
  margin-bottom: 6rem;
  h2{
    text-align: center;
  }
  table{
    margin: 0 0 4rem 0;
    th{
      text-align: center;
    }
    td, th{
      padding: 1.5rem 0;
    }
  }
  .agenda_row{
    span, a{display: block; padding: 0 1rem}
    span.description{font-size: 1.2rem}
  }
}

section.location {
  background: $main-color1;
  color: $light;
  font-size: 1.4rem;
  .map {
    padding: 0;
  }
  .address{
    padding: 2rem;
  }
}

footer{
  padding: 40px 0 80px 0;
  background: $light;
  a.nav-link{
    text-decoration: underline;
  }
}