// https://coolors.co/palette/ffffff-6aa0c4-a3ce54-2f4858-ad3522

$light:           #FFFFFF;
$primary:         #2F4858;
$secondary:        #A3CE54;
$main-color1:        $primary;
$main-color2:        #AD3522;
$main-color3:        $light;
$main-color4:        #6AA0C4;
$main-color5:        $secondary;
$enable-rounded: false;

$headings-color: $primary;

$font-size-base:  1.6rem;
@import "~bootstrap/scss/bootstrap";

header{
  background: $primary;
  color: $light;
  h2{
    font-weight: lighter;
  }
  a.btn{
    margin-top: 0.8rem;
  }
}
header.home{
  padding: 80px 0;
  text-align: center;
  a.logo{
    display: inline-block;
    margin-bottom: 40px;
    img{
      width: 200px;
      height: auto;
    }
  }
  h1{
    text-transform: uppercase;
  }
  h1, h2{
    color: $light;
  }
}

.organizer{
  margin-bottom: 25px;
}

#summary{
  padding: 80px 0;
  text-align: center;
  a.btn{
    text-decoration: underline;
    color: $main-color2;
  }
}

#internal-page{
  padding: 40px 0;
}

section.location {
  background: $main-color1;
  color: $light;
  font-size: 1.4rem;
  .map {
    padding: 0;
  }
  .address{
    padding: 2rem;
  }
}

footer{
  padding: 40px 0 80px 0;
  background: $light;
  a.nav-link{
    text-decoration: underline;
  }
}